.wrapper {
  margin: auto;
  margin-top: 8%;
  width: 80%;
}
.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: minmax(7);
}
.one {
  border: 1px solid;
  min-height: 100px;
  overflow: auto;
  font-size: .75em;
  font-weight: 500;
}
.two { 
  border: 2px solid;
  min-height: 50px;
  text-align: center;
  font-weight: 700;
  padding-top: 10%;
}
.three {
  grid-column: 3 / 7;
  grid-row: 1;
  border: 2px solid;
}
.four {
  grid-column: 4 / 7;
  grid-row: 1;
  border: 2px solid;
}
.five {
  grid-column: 5 / 7;
  grid-row: 1;
  border: 2px solid;
}
.six {
  grid-column: 6 / 7;
  grid-row: 1;
  border: 2px solid;
}
.seven {
  grid-column: 7 / 7;
  grid-row: 1;
  border: 2px solid;
}
.bar {
  margin-bottom: 2%;
}
.button {
  background-color: #D3D3D3;
  font-weight: 700;
  font-size: 1.25em;
  margin: 1%;
}



