.wrapper {
  margin: auto;
  margin-top: 8%;
  width: 80%;
}
.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: minmax(7);
}
.one {
  border: 1px solid #ADD8E6;
  min-height: 100px;
  overflow: auto;
  font-size: .75em;
  font-weight: 500;
}
.two { 
  border: 2px solid #9bc2cf;
  min-height: 50px;
  text-align: center;
  font-weight: 700;
  padding-top: 10%;
  color: #67818a;
}
.bar {
  margin-bottom: 2%;
}
.button {
  background-color: #ADD8E6;
  font-weight: 700;
  font-size: 1.25em;
  margin: 1%;
}



